<div class="notification">
  <img src='https://source.unsplash.com/random' class="avatar-large" />
  <div class="notification-content">
    <p><small><strong>Address: </strong><%= offer.address %></small></p>
    <p><strong>Language: </strong><%= offer.language %> </p>
    <p><strong>Level: </strong><%= offer.level %></p>
  </div>
</div>
