.row {
  display: flex;
  flex-wrap: wrap;
}

.row--no-padding {
  margin-left: 0;
  margin-right: 0;
}

.map-wrapper {
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.col--padding {
  padding-left: 15px;
  padding-right: 15px;
}

.card-product {
  overflow: hidden;
  height: 240px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 12px;
  padding: 12px;
  margin-top: 0;
}

.card-product img {
  height: 100%;
  width: 240px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.styles-title {
    font-size: 2px;
    font-weight: 700;
    line-height: 3.25;
    letter-spacing: 2px;
    text-align: center;
    padding: 13px;
    background-color: #E7E4E0;
    border-radius: 9px;
    margin: 25px;

  .buttons_offer {
    padding-top: 22px;
  }

}
