.flex-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.offer-info {
  flex-grow: 2;
}


.profile-container {
  background-color: #eee8e3;;
  box-shadow:10px 5px 5px #6d6c6b ;
  color: purple;
  border-radius: 15px;
  border-color: #cb997e;
  padding: 80px;
  padding-top: 10px;
  margin-left: 20px;
  flex-grow: 0.3;
}

.offer-container {
  background-color: #eee8e3;
  color: #22223b;
  box-shadow:10px 5px 5px #6d6c6b ;
  border-radius: 15px;
  border-color: rgb(3, 2, 2);
  padding: 20px;
  flex-grow: 0.5;
  margin-left: 5px;
  margin-right: 5px;
}

.offer-picture {
  flex-grow: 1;
}

.offer-img {
  height: 100%;
  width: 90%;
}

.offer-pic {
  width: 90%;
  justify-content: center;
}

.btn-container {
  vertical-align: bottom;
  padding: 10px;
  display: flex;
}

.other-offer-card {
  margin: 25px;
}

.page-title {
 color: #e8b85a;
}
