.flex-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.offer-info {
  flex-grow: 2;
}


.profile-container {
  background-color: #FFE8D5;
  color: purple;
  border-radius: 15px;
  border-color: #cb997e;
  padding: 20px;
  margin-left: 20px;
}

.offer-container {
  background-color: #ffd7ba;
  color: #22223b;
  border-radius: 15px;
  border-color: rgb(3, 2, 2);
  padding: 20px;
  flex-grow: 0.8;
  margin-left: 5px;
  margin-right: 5px;
}

.offer-picture {
  flex-grow: 1;
}

.offer-img {
  height: 280px;
}

.btn-container {
  vertical-align: bottom;
  padding: 10px;
}

.other-offer-card {
  margin: 25px;
}
